svg.master{
    display: block;
    margin: auto;
}
.footer, .header{
    margin:10px auto;
}
narration{
    margin-top:20px;
}

#director {
    margin: 30px 0 15px 0;
}

#narrator{
    font-style: italic;
    font-size: 1.1em;
}

#control_panel{
    text-align: center;
}

#control_panel .ui-button {
    width: 90%;
    margin-bottom: 5px;
    border-radius: 10px;
}

div.selector{
    margin: 15px 0 15px 0;
    font-size: 1.2em;
}

.main_title{
    text-align:center;
    font-weight: bold;
    font-size: 20px;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}


.bg_bar{
    fill:black;
    stroke: black;
    opacity: 0;
    stroke-width:0px;
}

svg.entry{
    cursor: pointer;
}
.in_bar, .out_bar{
    fill: white;
    stroke: gray;
}

.wea_dot{
    fill:white;
    stroke:white;
    stroke-width:1px;
}

.label{
    font-weight:bold;
    font-size: 14px;
}
.label.x{
    font-size: 1.2em;
}
.legend>text{
    fill: #999;
}

.bg_legend{
    fill:#eee;
    opacity:0;
}

.button{
    cursor: pointer;
}

.button text{
    fill: black;
}

.button ellipse{
    fill:white;
    stroke: gray;
    stroke-width: 1px;
}
.button.hover ellipse{
    fill: black;
    stroke: lightgray;
    stroke-width: 7px;
    transition: fill 500ms, stroke 1000ms, stroke-width 500ms;
}

.button.hover text{
    fill: white;
    font-weight:bold;
}
