svg{
    margin:10px auto;
    border: solid 1px gray;
    display: block;
}
.footer, .header{
    margin:10px auto;
    width: 980px;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}


.bg_bar{
    fill:#6a51a3;
    stroke: #fed976;
    opacity: 0;
    stroke-width:2px;
}

svg.entry{
    cursor: pointer;
}
.in_bar{
    fill: #FFC918;
}

.out_bar{
    fill: #48AEFF;
}